# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
venv/
env/
.venv/

# Build artifacts
build/
dist/
*.spec

# System files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Output files
*_ALTERADO.*