# Ignorar arquivos gerados
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos de ambiente
venv/
env/
.vscode/

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de saída
*_ALTERADO.*